/* ul{
    flex-direction: column;
} */
/* 
li{
    color: blue;
}

body{
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    margin-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 15%;
    background-attachment: fixed;
}
header{
    opacity: 0,5;
} */

